@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&displayfamily=Lato:wght@300&=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}



body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: 'Tilt Neon', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #737373;
}

#classes h3 {
    color: #fafafa
}


.logo {
    float: left;
    font-size: 75px;
    margin-left: 35px;
}

/* navigation links */

.navigation {
    float: right;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/*Drift Image & Cover-Text*/

#drift-control {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #4c4c4c;
}

#drift-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-pixabay-274974.jpg) no-repeat center center;

    /* Animation Zoom Effect On Loading Page*/
    animation-name: drift-zoom;
    animation-duration: 25s;
    animation-fill-mode: forwards;

}


/*Creates Drift Image Animation*/

@keyframes drift-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;


    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* Syncro Ethos*/

#left-about {
    padding-top: 35px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 35px;
    width: 33%;
    float: right;
}

#center-about {
    width: 34%;
    margin: 0 auto;
    padding-top: 35px;
}


hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading h2 {
    text-align: center;
}

.left-about-heading p {
    text-align: center;
}

.right-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: center;
}

.right-about-heading p {
    text-align: center;
}

.welcome {
    text-align: center;
    margin: 0 auto;
    font-size: 75%;
    float: inherit;
}

.welcome h3 {
    font-family: 'Tilt Neon', cursive;
    color: #737373;
    text-transform: uppercase;
}


#media-container {
    width: 333px;
    height: 350px;
    border-style: none;
    border-color: #3a3a3a;
    border-width: 1px;
    padding-top: 15px;
}

.media-container {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0 auto;
}


/* Classes */

#classes {
    background: url(../images/hakon-sataoen-rYOrLvEU2Hk-unsplash.jpg) no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#classes div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .5);
    width: 20%;
    height: 555px;
    float: left;
    padding: 35px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#classes h2 {
    color: darkorange;
}

section #classes {
    padding: 0;
    margin: 0;
}


/* Footer*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 165%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* About-Syncro */


.our-story {
    clear: both;
    float: left;
    margin: auto;
    width: 35%;
    text-align: justify;
    overflow: hidden;
    padding-top: 75px;
    font-size: 17px;
    font-family: Lato, sans-serif;
}

.our-story h2 {
    text-align: center;
}



#about-syncro-drive {
    position: relative;
    overflow: hidden;
    float: left;
    padding: 25px;
    margin: 0 auto;
}

#the-idea {
    text-align: center;
    margin: auto;
    font-size: 280%;
    float: inherit;
}

img {
    max-width: 100%;
    float: right;
    max-width: 100%;
    padding: 155px 0 0 25px;
    margin: 0 auto;
}

#left-side {
    line-height: 25px;
    float: left;
    clear: both;
}

#left-side h2 {
    text-align: center;
}

#left-side p {
    text-align: justify;
}

#right-side {
    float: right;
    clear: both;
}

#center-stage {
    text-align: center;
    width: 33%;
    font-size: 75%;
    float: none;
    padding-top: 35px;
}

.about-syncro {
    display: grid;
    align-items: flex-start;
    float: left;
    width: 15%;
    padding-top: 5%;
    line-height: 20px;

}

.deer-image {
    float: right;
    border: 2px solid white;
    width: 100%;
    margin: auto;
    vertical-align: baseline;

}


#about-heading {
    padding-top: 5%;
    float: none;
}

#about-heading h2 {
    text-align: left;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 75%;
    display: block;
    margin: auto;
}

.media {
    position: relative;
    width: 75%;
    height: 75%;
    display: block;
    margin: auto;
}

#media {
    height: auto;
}

.media1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%;
    text-align: center;
    margin: 0 auto;
}



/* Form */

.form-section {
    clear: left;
    background: url("../images/pexels-txom-photography-13731178.jpg");
    background-size: cover;
    background-position: center;
    height: 1100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    text-align: left;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.5);
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 35px;
    box-sizing: border-box;
}

#contact-legend {
    font-family: 'Tilt Neon', cursive;
    font-size: 25px;
    text-transform: uppercase;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    vertical-align: middle;
    margin: 0 auto;
}

.text-input {
    background: transparent;
    color: orange;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: darkorange;
    color: whitesmoke;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: orangered;
}

@keyframes change {
    0% {
        background-image: url(../images/pexels-andrés-chirrisco-15928578.jpg);
    }

    20% {
        background-image: url(../images/pexels-txom-photography-13731178.jpg);
    }

    40% {
        background-image: url(../images/pexels-jose-mueses-1280560.jpg);
    }

    60% {
        background-image: url(../images/pexels-supreet-7749314.jpg);
    }

    80% {
        background-image: url(../images/pexels-andrés-chirrisco-15928578.jpg);
    }

    100% {
        background-image: url(../images/pexels-mike-b-188777.jpg);
    }
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (min-width: 480px) and (max-width: 768px) {}

@media all and (max-width: 480px) {}

/*------------------------------------------
  Foundation Media Queries 
   http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */
@media only screen {}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {}

/* min-width 1921px, xlarge screens */

/*------------------------------------------*/



/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles here */
}

/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}