@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&displayfamily=Lato:wght@300&=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Tilt Neon', cursive;
    font-weight: 300;
    color: #3a3a3a;
}

 /* headings and logo */

h1, h2 {
    font-family: 'Tilt Neon', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: center;
    font-size: 75px;
}

/* navigation links */

.navigation {
    float: right;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left; 
    list-style-type: none;
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu  a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/*Drift Image & Cover-Text*/

#drift-control {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
 }

#cover-text, #cover-text h2 {
    color: #fff;
}
#drift-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-pixabay-274974.jpg) no-repeat center center;

     /* Animation Zoom Effect On Loading Page*/
     animation-name: drift-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
 
}
 

/*Creates Drift Image Animation*/

@keyframes drift-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }