@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&displayfamily=Lato:wght@300&=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

 /* headings and logo */

h1, h2 {
    font-family: 'Tilt Neon', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #737373;
}

#classes h3 {
    color: #fafafa
}


.logo {
    float: left;
    font-size: 75px;
    margin-left: 35px;
}

/* navigation links */

.navigation {
    float: right;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left; 
    list-style-type: none;
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu  a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/*Drift Image & Cover-Text*/

#drift-control {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
 }

#cover-text, #cover-text h2 {
    color: #4c4c4c; 
}
 
#drift-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-pixabay-274974.jpg) no-repeat center center;

     /* Animation Zoom Effect On Loading Page*/
     animation-name: drift-zoom;
     animation-duration: 25s;
     animation-fill-mode: forwards;
 
}
 

/*Creates Drift Image Animation*/

@keyframes drift-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;


    bottom: 30px;
    right: 150px;

    position: absolute;
} 

/* Syncro Ethos*/

#left-about {
    padding-top: 35px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 35px;
    width: 33%;
    float: right;
}

#center-about {
    width: 34%;
    margin: 0 auto;
    padding-top: 35px;
}

.base {
    width: auto;
    margin: 0;
    padding: 0;
    clear: both;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading h2 {
    text-align: center;
}

.left-about-heading p {
    text-align: center;
}

.right-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: center;
}

.right-about-heading p {
    text-align: center;
}

#welkom {
    text-align: center;
    margin: 0 auto;
    font-size: 280%;
    float: inherit;
}

#welkom h3 {
    font-family: 'Tilt Neon', cursive;
    color: #737373;
}


#media-container {
    width: 333px;
    height: 350px;
    border-style: none;
    border-color: #3a3a3a;
    border-width: 1px;
    padding-top: 15px;
}

.media-container {
    position: relative;
    padding-top: 56.25%; 
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0 auto;
  }


  /* Classes */

  #classes {
    background: url(../images/hakon-sataoen-rYOrLvEU2Hk-unsplash.jpg) no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
  }

  #classes div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .5);
    width: 20%;
    height: 800px;
    float: left;
    padding: 35px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#classes h2 {
    color: darkorange;
}

section #classes {
    padding: 0;
    margin: 0;
}


/* Footer*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 165%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* About-Syncro */


.our-story {
    clear: both;
    float: left;
    margin: auto;
    width: 37%; 
    text-align: justify;
    overflow: hidden;
    padding-top: 75px;
    font-size: 21px;
    font-family: Lato, sans-serif;
}



#about-syncro-drive {
    position: relative;
    overflow: hidden;
    float: left;
    padding: 25px;
    
    margin: 0 auto;
}

#the-idea {
    text-align: center;
    margin: auto;
    font-size: 280%;
    float: inherit;   
}

img {
    max-width: 100%;
    float: right;
    padding-top: 155px;
    padding-bottom: 195px;
    padding-right: 35px;
    padding-left: 25px;

    margin: auto;
}

#left-side {
    line-height: 25px;
    float: left;
    clear: both;
}

#left-side h2 {
    text-align: center;
}

#left-side p {
    text-align: justify;
}

#right-side {
    float: right;
    clear: both;
}

#center-stage {
    text-align: center;
    width: 33%;
    font-size: 280%;
    float: none;
    padding-top: 35px;
}

.about-syncro {
    display: grid;
    align-items: flex-start;
    float: left;
    width: 15%;
    padding-top: 5%;
    line-height: 20px;
    
}

.deer-image {
    float: right;
    border: 2px solid white;
    width: 100%;
    margin: auto;
    vertical-align: baseline;
    
}


#about-heading {
    padding-top: 5%;
    float: none;
  }

  #about-heading h2 {
    text-align: left;
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 75%;
    display: block;
    margin: auto;
  }

  .media {
    position: relative;
    width: 75%;
    height: 75%;
    display: block;
    margin: auto;
  }

  #media {
    height: auto;
  }

  .media1 {
    position: relative; 
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%;
    text-align: center;
  }



/* Form */

.form-section {
    clear: left;
    background: url("../images/pexels-txom-photography-13731178.jpg");
    background-size: cover;
    background-position: center;
    height: 1100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    text-align: left;
    justify-content: center;
    animation: change 125s infinite ease-in-out;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
    vertical-align: middle; 
    margin: 0 auto;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: darkorange;
    color: whitesmoke;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: orangered;
}

@keyframes change{
    0%
    {
        background-image: url(../images/pexels-andrés-chirrisco-15928578.jpg);
    }
    20%
    {
        background-image: url(../images/pexels-txom-photography-13731178.jpg);
    }
    40%
    {
        background-image: url(../images/pexels-jose-mueses-1280560.jpg);
    }
    60%
    {
        background-image: url(../images/pexels-supreet-7749314.jpg);
    }
    80%
    {
        background-image: url(../images/pexels-andrés-chirrisco-15928578.jpg);
    }
    100%
    {
        background-image: url(../images/pexels-mike-b-188777.jpg);
    }



/* Media Queries*/

/* For larger to medium screen sixes netween 1200px wide and down*/

@media screen and (max-width: 1200px) {

    .logo {
        width: 100%;
        float: left;
        padding: 0;
        clear: both;
    }

    #menu {
        clear: both;
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }

    #syncro-ethos {
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto;
        clear: both;
    }

    #welkom {
        padding: 0;
        margin: 0 auto;
        clear: both;
        text-align: center;
    }

    .about-syncro {
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto;
        clear: both;
        text-align: center;
    }

    #about-images {
        width: 100%;
        float: right;
        padding: 0;
        margin: 0 auto;
        clear: both;
    }

    #about-heading {
        float: left;
    }

    #left-about, #right-about {
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
        text-align: center;
    }

    #classes > div {
        width: 100%;
        clear: both;
        height: auto;
        padding: 0;
        margin: 0 auto;

    }

    hr {
        display: none;
    }

    .media-container {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }

    #media-container {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }

    #media1 {
        clear: both;
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        position: relative; 
    }

        

/* For Medium Screen Sizes From 950px Wide & Down */

@media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .logo {
        width: 100%;
        float: left;
        padding: 0;
        clear: both;
    }

    #cover-text {
        left: 0;
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
        margin: 0 auto;
    }

    #welkom {
        float: none;
        width: 95%;
        clear: both;
        padding: 0;
    }

    #syncro-ethos {
        width: 100%;
        margin: 0 auto;
    }

    #left-about, #right-about {
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
    }

    .left-about-heading, .right-about-heading {
        width: 100%;
        float: none;
        clear: both;
        padding: 0;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    } 

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0;
        width: 100%;
    }

    #photos {
        column-count: 3;
    }

    .responsive-iframe {
        left: 0;
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
        margin: 0 auto;
    }

    .media-container {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }

    #media-container {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }

    #the-idea {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }

    #left-side {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }

    #media1 {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }
}




/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {

    .logo {
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
    }
    
    #cover-text {
        left: 0;
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
        margin: 0 auto;
    }

    #menu {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }


    #photos {
        column-count: 2;
    }

    #welkom {
        float: none;
        width: 100%;
        clear: both;
        padding: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
    }

    .left-about-heading, .right-about-heading {
        float: none;
        width: 100%;
        clear: both;
        padding: 0;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    .about-syncro {
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto;
        clear: both;
        text-align: center;
    }


    .responsive-iframe {
        left: 0;
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
        margin: 0 auto;
    }

    .navigation {
        left: 0;
        width: 100%;
        float: none;
        padding: 0;
        clear: both;
        margin: 0 auto;
    }

    #the-idea {
        float: none;
        width: 100%;
        clear: both;
        padding: 0;
    }

    .our-story {
        clear: both;
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto;
    }
    

    .media-container {
        clear: both;
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto;
         
    }

    #media-container {
        clear: both;
        width: 100%;
        float: none;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center; 
    }

    #left-side {
        clear: both;
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto;
    }
}
